# Ignore the node_modules directory
#node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory, relative to this config file
/outputs
/inputs

# The file containing environment variables 
.env

# Ignore IDE specific files
#.idea/
#.vscode/
#*.sw*